@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

/*Typography*/
body {font-size:1.12em; font-family: 'Open Sans', sans-serif;}
h1, h2, h3, h4 {font-family: 'Lato', sans-serif; font-weight:normal; letter-spacing:.13em; text-transform:uppercase; color:#799a48;}
h1 {font-size:1.8em; }
h2 {font-size:1.4em; }
h3 {font-size:1.3em; }
.content-area h1, .content-area h2 {border-bottom:1px solid #799a48; padding-bottom:10px; margin:15px 0px 25px 0px;}
.content-area h3, .content-area h4 {color:#005f7f; margin:20px 0px 0px 0px; }
.col-3 {font-size:medium;}
ul {list-style-type:square;}
.dynlist {list-style-type:none; margin:0px; padding:0px;}
.dynlist li {margin:0px; border-bottom:1px solid #333; padding:10px 0px 5px 0px;}

#ttsheader {display:block; background:#FFF; overflow:hidden; background: url("../images/TTSbkgd-01.svg") no-repeat; background-size: cover; background-position: top center; }
#ttsheader .ttshead {width:98%; margin:auto; max-width:1400px; padding:20px 0px;}
#ttslogo {display:block; width:360px; height:125px;text-align:center; float:left;}
.actlogin {text-align:right;padding-top:10px;}
.actlogin form {display:block; margin:0px; }
.actlogin a {display:inline-block; margin:20px;}
.actlogin a:hover {color:#EAEAEA;}
#mainnavwrapper {display:block; padding:10px 0px; background:#799a48; }
/*navigation*/
ul.mainnav  {display:block; width:98%; max-width:1400px; margin:auto; overflow:hidden;}
.mainnav li {list-style:none; margin:0px; padding:0px; display:table; float:left; text-align:center; width:15%; box-sizing: border-box; border-right:1px solid #FFF; min-height:70px; height:70px; vertical-align:middle; }
.mainnav li:last-child {border:none;}
.mainnav li a {color:#EAEAEA; font-size:1em; line-height:1em; padding:0 10px; text-decoration: none; display:table-cell; margin:0px; width:100%; min-height:70px; vertical-align:middle ; box-sizing: border-box; transition: 0.3s; }
.mainnav li a:hover {color:#000; background:#FFF;}

.ttsrouter {max-width:98% !important;}
.container.ttsrouter  {padding:0px;}
.ttsrouter .col-sm {text-align:center; margin:0px; padding:0px; box-sizing: border-box;border-right:1px solid #FFF;}
.ttsrouter .col-sm:last-child {border:none;}
.ttsrouter .col-sm img {width:100%; height:auto;}
.ttsrouter .col-sm a {display:block; width:100%; padding:15px 2%; background:rgba(0, 0, 51, 0.8); text-decoration:none; color:#FFF; font-family: 'Lato', sans-serif; height:80px; overflow:hidden; box-sizing: border-box; position:absolute; z-index:10px; bottom:0px; left:0px; transition: 0.3s;}
.ttsrouter .col-sm a:hover {height:180px;}
.ttsrouter .col-sm a h2 {color:#799a48 !important; font-weight:normal; font-size:x-large; line-height:.75em; padding:0px; margin:0px; }

/*Basic layout*/
.container {padding:20px 10px; max-width:95%; box-sizing: border-box;}
.col-9 {}
#contentwrapper {background:#FFF; width:100%; max-width:1400px; margin:auto;}


/*Page Elements */
.headergraphic {display:inline-block; width:100%; margin:0px; padding:0px; overflow:hidden; min-width:360px; min-height:275px; text-align:center;}
.headergraphic img {position:relative; top:0px; left:50%; margin-left:-100%; width:100%; height:auto; min-width:1250px;}
#vidwrapper {display:block; padding:40px 20px;  box-sizing:border-box; color:#EAEAEA; background: url("../images/video_wrapper_bkgd-map-01.svg") no-repeat; background-color:#528da3; overflow:hidden; background-position: right 101%; }
#vidwrapper.container {padding:0px;}
#vidwrapper h1 {color:#FFF;}
#sponsoraknwlg { background:#FFF; text-align:center; padding:20px 0px;}
#sponsoraknwlg h2 {color:#799a48;}
#sponsoraknwlg img {width:100%; height:auto;}

#footer { color:#EAEAEA; padding-bottom:50px; background: url("../images/TTSman-02.svg") no-repeat; background-position: left top; background-color: #999; }
#footer h3 {color:#FFF;}

.home-buckets .col-sm, .outreach .col-sm {margin-top:10px;}
.home-buckets img {
  width:100%;
  height:auto;
  min-width: 300px;
  -moz-box-shadow: 0 3px 10px 3px #ddd;
  -webkit-box-shadow: 0 3px 10px 3px #ddd;
  box-shadow: 0 3px 10px 3px #ddd;
  border: 5px solid #fff;
  margin:0px auto 20px;
}
.sclblk {display:block; margin:5px; text-align:center;}
.sclblk img {display:inline-block;}

/*bootstrap overrides*/
.btn-outline-primary {
	color: #528da3;
	background-color: #FFF;
	background-image: none;
	border-color: #528da3;
}
.btn-outline-success, .btn-outline-secondary {
	background-color: #FFF;
}
.btn-outline-primary:hover {
    background-color: #528da3;
    border-color: #528da3;
}
/*** panels ***/
.panel-primary .panel-body h3 {
	color: #005f7f;
}
.panel-body>h3 {
	margin-top: 0;
}
.panel-primary {
  padding:15px;
  border:1px solid #005f7f;
  line-height: normal;
  border-radius: 8px;
	background-color: #d9e7ec;
  border-color: #b2cfd8;
}

/*** footer ***/




/*responsive*/
@media only screen and (max-width: 800px) {
    body {font-size:1em;}
    h1 {font-size:1.75em; }
    h2 {font-size:1.5em; }
    h3 {font-size:1.3em; }
    #ttslogo {display:block; width:100%;text-align:center;}
    .ttsrouter .col-sm {
      width:100% !important;
    flex-basis: auto !important;  
    }
    .mainnav li {width:95%; margin:auto; border-bottom:1px solid #FFF; border-right:0px; height:70px;}
    .mainnav li a {font-size:1.5em;}
    .actlogin {width:100% !important; flex-basis: auto !important;text-align:center;padding:20px;}
    .col-9 {display:block; float:left; width:100%; max-width:100%; flex-basis: 100% !important;}
    .col-3 {display:block; float:left; clear:left; width:100%; max-width:100%; flex-basis: 100% !important;}
  }
  @media only screen and (min-width:800px) and (max-width: 1199px) {
    body {font-size:1em;}
    .col-9 {width:65%; max-width:65%; flex-basis: 65% !important;}
    .col-3 {width:35%; max-width:35%; flex-basis: 35% !important;}
  }
  @media only screen and (min-width:1200px){
    body {font-size:1.2em;}
  }