@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*** global ***/

/* Padding below the footer and lighter body text */
body {
	color: #333;
	font-family: 'Open Sans', Arial, sans-serif;
}
img {
	max-width: 100%;
}
a {
	color: #cb8241;
}
a:hover {
	color: #daa77a;
}
hr {
	border-color: #ccc;
}
h1, h2, h3, h4 {
	font-family: 'PT Serif', sans-serif;
	margin-top: 20px;
}
h1 {
	color: #CB8241;
}
h2 {
	color: #005f7f;
}
.pull-right.img-pad {
	margin: 0 0 5px 10px;
}
.pull-left.img-pad {
	margin: 0 10px 5px 0;
}

/*** header styles ***/
.topbar {
	background-color: #000;
	border-bottom: 5px solid #005f7f;
	height: auto;	
}
header {
	padding-top: 20px;
}
.search-box.navbar-form {
	padding: 0;
	display: inline-block;
	margin-left: 0;
	margin-right: 0;
}
.search-box.navbar-form img {
	margin-right: 5px;
}
.search-box.navbar-form img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: 0.7;
}
.input-group .form-control#srch-term {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

/*** nav bar ***/

.navbar {
	min-height: 40px;
	margin-bottom: 0;
}
.navbar-inverse {
	background-color: #005f7f;	
	border-bottom: none;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #528da3;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
	background-color: #004766;
}
.navbar-inverse .navbar-form {
	margin: 0;
}
.navbar-inverse .navbar-form .btn-primary:hover {
	border-bottom-color: #94af6c;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #004766;
}
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
	color: #fff;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	color: #fff;
	background-color: #005f7f;	
}

/*** breadcrumbs ***/
.breadcrumb {
	margin-top: 10px;
	margin-bottom: 0px;
}
/*** Footer News Feed ***/
.FooterFeed {
padding-left: 5px;
}
.FooterFeed li {
margin: 0px 0px 10px 0px;
list-style-type: square; 
color:#B2CFD8;
}

/*** buttons ***/
.btn-primary {
	color: #fff;
	background-color: #799a48;
	border-color: #547133;
}
.btn-primary:hover {
	background-color: #94af6c;
	border-color: #799a48;
}

/*** home page buckets ***/
.home-buckets h2 {
	display: block;
	color: #fff;
	text-transform: uppercase;
	padding: 5px;
	font-size: 1.5em;
	
	/* this is what makes the diagonals */
	border-right: 35px solid transparent;
	border-bottom: 35px solid #005f7f; 
	height: 0;
	line-height: 45px;
	padding-top: 0px;
	margin-top: 15px;
}
.home-buckets img {
	max-height: 225px;
	-moz-box-shadow: 0 3px 10px 3px #ddd;
	-webkit-box-shadow: 0 3px 10px 3px #ddd;
	box-shadow: 0 3px 10px 3px #ddd;
	border: 5px solid #fff;
}

/*** sidebar ***/
.sidebar {
	border-top: 1px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}

/*** wordpress image styles ***/
.aligncenter, div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft.size-medium, .alignright.size-medium {
	max-width: 50%;
	height: auto !important;
}
.alignleft {
	float: left;
	margin: 0 15px 15px 0;
}
.alignright {
	float: right;
	margin: 0 0 15px 15px;
}
.wp-caption {
	border: 1px solid #ccc;
	padding: 8px 4px 0;
	text-align: center;
	margin-bottom: 20px;
	clear: both;
}
.wp-caption img {
	border: 0;
	margin: 0;
}
.wp-caption p.wp-caption-text {
	font-size: 90%;
	color: #666;
	margin: 8px 0;
}

/*** panels ***/
.panel-primary .panel-body h3 {
	color: #005f7f;
}
.panel-body>h3 {
	margin-top: 0;
}
.panel-primary {
	background-color: #d9e7ec;
	border-color: #b2cfd8;
}

/*** footer ***/

/* padding */
footer {
	background-color: #005f7f;
	margin-top: 20px;
	padding: 20px 0;
	font-size: 0.9em;
	color: #fff;
}
footer a {
	color: #b2cfd8;
}
footer a:hover {
	color: #fff;
}
.foot-boxes > div {
	margin-bottom: 2.5em;
}
.foot-boxes > div.text-right {
	text-align: left;
}
.foot-boxes > div > h4 {
	margin-top: 0;
}
/* hides title on home page */
.home .entry-header {display:none;}

/*** media queries ***/

/* collapse the menu sooner */
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

/* small screens */
@media (max-width: 768px) {
.navbar-nav{
		margin:7.5px 0px 0px;
	}
}

@media (min-width: 768px) {
	
	/*** header styles ***/
	header {
		padding: 20px 0px 10px 0px;
	}
	header > div.text-center {
		text-align: left;
	}
	.search-form {
		padding-top: 37px;
	}
	.input-group .form-control#srch-term {
		float: none;
		width: auto;
	}
	
	/*** navbar styles ***/
	.navbar {
		margin-bottom: 5px;
	}
		.nav>li>a {
		padding: 4px 8px;
	
	/*** breadcrumbs ***/
	.breadcrumb {
		margin-top: 0;
	}
	
	/*** wordpress image styles ***/
	.alignleft.size-medium, .alignright.size-medium {
		max-width: 100%;
		height: auto !important;
	}
 	
	/*** carousel styles ***/
	
	/* Carousel base class */
	.carousel {
		margin-bottom: 20px;
	}
	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
		right: 0;
		left: 0;
		bottom: 0;
		padding: 20px 5% 40px;
		width: 100%;
		background: rgba(0,0,0,0.7);
		z-index: 10;
	}
	/* carousel controls */
	.carousel-control {
		width: 6%;
	}
	/* carousel indicators */
	.carousel-indicators {
		bottom: 0;
	}
}

/* medium screens */
@media (min-width: 992px) {
	/*** menu ***/
	.nav>li>a {
		padding: 0px 8px;
	}
	.navbar-inverse .navbar-form .btn-primary {
		border-radius: 0;
		border: none;
		line-height: 40px;
		padding: 0 15px;	
		
		/* this is what makes the diagonals */
		border-bottom: 40px solid #799a48;
		border-left: 40px solid transparent;
		height: 0;
		line-height: 40px;
		padding-top: 0px;
		margin-top: 0;
		background-color: transparent;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu>li:not(.active)>a {
		color: #333;
	}
	.navbar-inverse .navbar-form {
		padding: 0;
	}
	.navbar-inverse .navbar-form.navbar-right {
		margin-right: -1px;
	}
	.navbar-nav>li>a {
		line-height: 40px;
	}
	
	/*** sidebar ***/
	.sidebar {
		border-top: none;
		margin-top: 0;
		padding-top: 0;
		font-size: 0.9em;
	}
	
	/*** footer ***/
	.foot-boxes > div {
		margin-bottom: 0;
	}
	.foot-boxes > div.text-right {
		text-align: right;
	}
}

/* large screens */
@media (min-width: 1200px) {
	
	/*** menu ***/
	.nav>li>a {
		padding-left: 12px;
		padding-right: 12px;
	}
	
	/*** carousel styles ***/
	
	/* declare heights because of positioning of img element */
	.carousel .item {
		height: 450px;
		background-color: #777;
	}
	.carousel-inner > .item > img {
		position: absolute;
		top: 0;
		left: 0;
		min-width: 100%;
		height: 450px;
	}
}
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}